
.jumbotron {
  padding:30px;
  color:white;
  background-color: #fdae61;
  border-radius: 25px;

}
.jumbotron h1{
  color:inherit
}
.jumbotron p{
  margin-bottom:15px;
  font-size:21px;
  font-weight:200
}


.page{
  margin: 2rem 1rem 1rem;
  border-radius: 25px;
  border: 3px solid #2780e3;
  padding: 20px;
  background-color: #ffffff;
}

.navbar-brand {
  display:none;
}

.button {
  background-color: #2780e3;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 25px;

}

.storyboard-nav .sbframelist {
        margin: 0 auto;
        width: 94%;
        height: 80px;
        overflow: hidden;
        text-shadow: none;
        margin-bottom: 8px;
        text-align: center;
    }

.storyboard-nav .sbnext, .storyboard-nav .sbprev {
        width: 2%;
        height: 80px;
        font-size: 50px;
    }


.chart-wrapper .chart-notes {
  background: #fbfbfb;
  border-top: 1px solid #e2e2e2;
  color: #808080;
  font-size: 20px;
  padding: 8px 10px 5px;
  text-align: center;

}
